<div class="row">
    <div class="col-md-6">
        <img class="card-img-top" src="{{image}}" alt="Card image cap">
    </div>
    <div class="card-body col-md-6">
        <h5 class="card-title"> {{title}} </h5>
        <h6 class="card-subtitle mb-2 text-muted">{{description}} </h6>
        {{!-- <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> --}}
    </div>
</div>
<br>