<form class="col-md-12">
  <div class="container col-md-9">
  <div class="form-group no-border">
    <label for="exampleFormControlInput1"></label>
    <input type="email" class="form-control" id="blogPostTitle" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1"></label>
    <select class="form-control" id="blogPostCategory">
      <option value="0">Choose Your Topic</option>
      <option value="1">Technology</option>
      <option value="2">Business</option>
      <option value="3">Sports</option>
      <option value="4">Food</option>
      <option value="5">Entertainment</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1"></label>
    <input type="email" class="form-control" id="blogPostDescription" placeholder="Description">
  </div>

  <div class="form-group">
    <label for="blogPostBody"></label>
    <textarea class="form-control" id="blogPostBody" rows="3" placeholder="Write Your Post"></textarea>
  </div>
</form>
<div class="dropzone">
  <div class="info"></div>
</div>
<button type="button" class="btn btn-dark btn-lg blogbut" id="blogPostButton">Submit</button>
<br><br>
</div>

<script type="text/javascript" src="./js/imgur.js"></script>
<script type="text/javascript" src="./js/postBlog.js"></script>
<script type="text/javascript" src="./js/upload.js"></script>