 <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">{{#each tech}}
        <strong>Title: </strong>{{title}}
        <br/><br/>
        <strong>Description: </strong>{{description}}
        <br/><br/>
        <img src = {{{urlToImage}}} class="img-fluid" src = {{{urlToImage}}} alt="Responsive image">
  {{/each}}</p>
  </div>
</div>